#home-banner {
    background: url('./assets/images/home-banner.jpeg');
    background-size: 100% 100%;
}
.theme-orange {
    color: #FC8A2B !important;
}
.theme-green {
    color: #2FAA00;
}
.theme-bg-orange {
    background: #FC8A2B;
}
.theme-bg-green {
    background: #2FAA00;
}
.theme-border-green {
    border-color: #2FAA00;
}
.theme-border-orange {
    border-color: #FC8A2B;
}
#Footer a:hover {
    color: #FC8A2B !important;
}
button:focus {outline:0;}

/* Single Product Page  */
.breadCrumb > ol li a{
    font-size: 0.5rem !important;
}
.container-audio {
    width: 80%;
    height: auto;
    padding: 5px;
    background-color: #F1F3F4;
    margin: 3px auto;
    overflow: hidden;
}

input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 24px;
	height: 24px;
	-webkit-appearance: none;
  
/* @apply w-6 h-6 appearance-none pointer-events-auto; */
}

.toggleCross {
    transform: rotate(0deg);
    animation: rotate45 0.2s ease-in-out forwards;
}
@keyframes rotate45 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(45deg);
    }
}
.togglePlus {
    transform: rotate(45deg);
    animation: rotate-45 0.2s ease-in-out forwards;
}
@keyframes rotate-45 {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(0deg);
    }
}